<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3">
        <img src="../../../assets/Perfil-2021-01.png" class="img=fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
        <p>Carlos Rodriguez</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>About me</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt dolorem molestiae fugiat rem quam, quos officiis similique vero repudiandae amet eius, cumque dicta, sed eaque dolorum blanditiis esse aut accusamus?</p>
        </span>
    </div>
</div>
