<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo #1</h1>
            </li>
            <p>
                Camino a las Grandes Ligas | Academy Manager
                https://caminoalasgrandesligas.com
                Abril 2019 - Enero 2023 (3 años, 9 meses) - Panamá.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo #2</h1>
            </li>
            <p>
                Cieca Escuela de Medios | Academy Manager - Docente
                https://ciecaescuela.com/
                Mayo 2020 - Enero 2023 (2 años, 8 meses) - Venezuela.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo #3</h1>
            </li>
            <p>
                Multiaula | Academy Manager - Docente
                https://multiaula.site/
                Noviembre 2020 - Enero 2023 (2 años, 2 mes) - Argentina.
            </p>
        </ul>
    </div>
</div>
