.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redessociales{
    margin-right: 10px;
}
#APLogo{
    width: 220px;
}
#LogoPA{
    width: 150px;
}
img{
    width: 50px;
}
.redessociales img{
    margin: 3px;
}